modules = ["nodejs-20", "java-graalvm22.3", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project1 && ./mvnw spring-boot:run"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35587
externalPort = 3001

[[ports]]
localPort = 46555
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080
